@using GoshenJimenez.Employees.Models.Enums;
@model GoshenJimenez.Employees.ViewModels.Employees.EmployeeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <!-- Main menu -->
                <li class="current"><a href="~/home/index"><i class="glyphicon glyphicon-list"></i> Employees</a></li>
                <li><a href="~/home/create"><i class="glyphicon glyphicon-plus-sign"></i> New Employee</a></li>
                <!--<li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> View payroll</a></li>-->
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        @if (Model.Employee != null)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="content-box-large">
                        <div class="panel-heading">
                            <div class="panel-title">Update Employee - @Model.Employee.FirstName @Model.Employee.LastName</div>

                            <div class="panel-options">
                                <a href="~/home/index" data-rel="reload"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
                                <a href="#" data-rel="collapse" onclick="confirmRemove('@Model.Employee.Id','@Model.Employee.FirstName @Model.Employee.LastName')"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("edit", "home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-7">
                                        @Html.ValidationSummary()
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Firstname</label>
                                    <div class="col-sm-10">
                                        @Html.HiddenFor(m => m.Employee.Id)
                                        @Html.TextBoxFor(m => m.Employee.FirstName, new { placeholder = "FirstName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Lastname</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Employee.LastName, new { placeholder = "LastName", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Salary</label>
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(m => m.Employee.BaseSalary, new { placeholder = "Salary", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Gender</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                <span class="gender">@Model.Employee.Gender</span>
                                                <span class="caret"></span>
                                                @Html.HiddenFor(m => m.Employee.Gender, new { id = "gender" })
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                @{ if (Model != null)
                                                    {
                                                        if (Model.GenderChoices != null)
                                                        {
                                                            foreach (Gender gender in Model.GenderChoices)
                                                            {
                                                                <li><a class="genderSelect" value="@gender.ToString()">@gender.ToString()</a></li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assignment</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                                <span class="assignment">@Model.Employee.Assignment</span>
                                                <span class="caret"></span>
                                                @Html.HiddenFor(m => m.Employee.Assignment, new { id = "assignment" })
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                @{ if (Model != null)
                                                    {
                                                        if (Model.AssignmentChoices != null)
                                                        {
                                                            foreach (Assignment assignment in Model.AssignmentChoices)
                                                            {
                                                                <li><a class="assignmentSelect" value="@assignment.ToString()">@assignment.ToString()</a></li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                <span class="status">@Model.Employee.Status</span>
                                                <span class="caret"></span>
                                                @Html.HiddenFor(m => m.Employee.Status, new { id = "status" })
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                @{ if (Model != null)
                                                    {
                                                        if (Model.StatusChoices != null)
                                                        {
                                                            foreach (EmployeeStatus status in Model.StatusChoices)
                                                            {
                                                                <li><a class="statusSelect" value="@status.ToString()">@status.ToString()</a></li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                        <a href="#" class="btn btn-warning pull-right" style="margin-right:10px" onclick="confirmRemove('@Model.Employee.Id','@Model.Employee.FirstName @Model.Employee.LastName')">Delete</a>
                                        <a href="~/home/index" class="btn btn-default pull-right" style="margin-right:10px">Cancel</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>       
            </div>

    }
</div>

    <div class="modal fade" id="mdlConfirmRemoveEmployee" tabindex="-1" role="dialog" aria-labelledby="mdlForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span>&#xf03a;</span> Remove Employee</h4>
                </div>
                <form class="form-horizontal" role="form">
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <span class="help-block">Are you sure you want to remove <i id="removeEmployeeName"></i>?</span>

                            <input type="hidden" id="removeEmployeeId" value="" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" onclick="deleteEmployee()">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section scripts{
    <script>
        $(function () {
            $('.genderSelect').click(function (e) {
                var gender = $(this).attr("value");
                $("#gender").val(gender);
                $(".gender").html(gender);
            });
            $('.statusSelect').click(function (e) {
                var status = $(this).attr("value");
                $("#status").val(status);
                $(".status").html(status);
            });
            $('.assignmentSelect').click(function (e) {
                var assignment = $(this).attr("value");
                $("#assignment").val(assignment);
                $(".assignment").html(assignment);
            });
        });

        function confirmRemove(id, name) {
            $("#removeEmployeeName").html(name);
            $("#removeEmployeeId").val(id);
            $("#mdlConfirmRemoveEmployee").modal('show');
        }
        function deleteEmployee() {
            var model = {
                id: $("#removeEmployeeId").val()
            }

            $.ajax({
                url: "@Url.Content("~/home/remove")",
                dataType: "json",
                data: model,
                type: "POST"
            }).done(function (obj) {
                window.location = "/home";
            }).fail(function (obj) {

            });
        }
    </script>
}
